* { padding:0px; margin:0px;}

body { background:#000; color:#fff; font-family: "Helvetica Neue", Helvetica, Arial}

timeline { display:block; width:0px; height: calc(100vh - 150px); background:#333; margin:30px auto 60px auto; position: fixed; left:50%; border-right:1px solid #333; z-index:100;}
timeline event { display: block;width: 20px;height: 21px;position: absolute;margin-left: -10px;margin-top: -10px; z-index:100; background:#000;}
timeline event svg.icon { width:20px; height:20px; position: absolute;}
timeline event svg.icon * { stroke:#fff; stroke-width:1px; fill:none;}
timeline event p { display: inline-block; line-height: 20px; position: absolute; left:60px; font-size:14px; top: 0px; width:300px; text-transform: capitalize;}
timeline event span.title { font-size: 12px; font-weight: bold; margin-right:15px; color:#777;}
timeline event span.details { font-size:11px; color:#555; }
timeline event span.offset { font-size:11px; color:#555; }
timeline event line { display: block;background: #fff;height: 1px;position: absolute;left: 15px;top: 10px;width: 30px;}
timeline #today { background:red;}

timeline event.odd p { left:-340px; text-align: right}
timeline event.odd line { left:-25px !important}

timeline event.milestone span.details { position: absolute;left: 0px;top: 30px;width:200px}

timeline event.month { height: 1px;background:#111;width: 100vw; margin-left: -50vw;margin-top: 0.5px; z-index:1;}
timeline event.month span { background: #000;font-size: 10px;display: block;position: absolute;top: -15px;text-transform: uppercase;padding: 10px;color: #333;}
timeline event.today { z-index: 10}
timeline event.today p { text-transform: uppercase;font-size: 11px;color: #333;background: #000;left: -40px;text-align: center;z-index: 200;width: 100px; line-height: 30px;top: -5px;}
timeline event.today span.title { margin-right:0px;}
timeline event.today .offset { display: none}
timeline event.diary { background:none;}
timeline event.diary svg * { stroke-width:0px; fill:#333;}
timeline event.diary line { left:10px; width:35px; background: #333}
timeline event a { color:#fff; text-decoration: none}
timeline event a.paid:after { content:"*"; color:red; }
timeline event a:hover { text-decoration: underline; cursor: pointer }

timeline marker { display: block;width: 20px;height: 20px;position: absolute;margin-left: -10px;margin-top: -10px;}
timeline marker svg.icon { stroke-width:1px; stroke:#333;}
timeline marker#marker_top { top:0px;}
timeline marker#marker_bottom { top:100%;}

content { display: block;background: #efefef;position: absolute;top: 400vh;width: 100vw;z-index: 100; color:#111;}
content img { width:100%;display:block; margin:0px auto; }
content div { margin:60px auto 190px auto; max-width: 460px; padding:0px 30px;}
content div h1 { font-size:35px; margin-bottom: 15px; }
content div h2 { font-size: 20px;margin-bottom: 15px;line-height: 30px; font-weight: normal }
content div h2:before { position: absolute;margin: 0px 0 0 -30px;vertical-align: middle;display: inline-block;width: 4px;height: 4px;content: "\2014";color: #000;font-size: 20px}
content div p { font-size:15px; line-height:20px; margin-bottom: 30px}
content div p a { font-weight: bold; color:#000; text-decoration: none}
content div a.icon { display:inline-block; width:30px; height:30px; background-size:cover;}
content div a.github { background-image: url('http://100r.co/img/icon.github.png'); }
content div a.patreon { background-image: url('http://100r.co/img/icon.patreon.png'); }
content div a.twitter { background-image: url('http://100r.co/img/icon.twitter.png'); }

footer { position: fixed;bottom: 0px;z-index: 900;background: #000;width: 100vw }
footer svg.logo { width:56px; height:56px; margin:30px 30px; display:block;}
footer hr { position: relative; bottom:15px; background:#222; height:0px; width:calc(100vw - 60px); margin-left:30px; border:0px; border-top:1px dotted #111;}
footer p { position: absolute;left: 106px;top: 70px; font-size:12px; font-weight: bold;}

body.mobile timeline { left: 57px;}
body.mobile timeline event.month { left: -57px;margin-left: 0px;} 
body.mobile timeline event line { left:15px !important; width:20px;}
body.mobile timeline event.odd p { left:60px; text-align: left}
body.mobile timeline event .details { display: none}